<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.humors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Humors"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".others.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".others.AddDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".auth.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".auth.EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotPassVerifActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".others.AboutActivity"
            android:exported="false" />

        <receiver
            android:name=".services.StepCounterService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.StepsServiceJobScheduler"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".receiver.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".others.PreTestInfoActivity"
            android:exported="false" />
        <activity
            android:name=".newUser.SleepScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".newUser.ShareHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".newUser.MedicalHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".newUser.FoodHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".newUser.NewUserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".newUser.AddDataActivity"
            android:exported="false" />
        <activity
            android:name=".others.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".home.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".connect.ResultsActivity"
            android:exported="false" />
        <activity
            android:name=".connect.BreatheTestActivity"
            android:exported="false" />
        <activity
            android:name=".connect.SearchingActivity"
            android:exported="false" />
        <activity
            android:name=".auth.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>